<div class="main-container">
    <p-table class="ui-table-wrapper" [value]="data" dataKey="empcode" editMode="row" dataKey="User_id" #dt1 [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 20]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [globalFilterFields]="['username','role','dob']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="search" (input)="dt1.filterGlobal(search($event.target), 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 40px;">#</th>
                <th style="min-width: 100px;">User Name</th>
                <th style="width: 180px;">Gender</th>
                <th style="width: 180px;">Email</th>
                <th style="width: 180px;">Mobile No.</th>
                <th style="width: 180px;">Address</th>
                <th style="width: 180px;">Role</th>
                <th style="width: 180px;">DOB</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-ri="rowIndex">
            <tr>
                <td>{{ri+1}}</td>
                <td>{{item.userFullName}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobileNumber}}</td>
                <td>{{item.address}}</td>
                <td>{{item.role?'Admin':'User'}}</td>
                <td>{{item.dob}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>




<p-dialog
  header="Create User"
  [(visible)]="addvisible"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-3">
      <div class="themeinput">
        <label>User ID</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-3">
      <div class="themeinput">
        <label>User Title</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-3">
      <div class="themeinput">
        <label>User Author</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
            <button class="btn btn-succes" (click)="addvisible=false">Close</button>
          </div>
          <div class="col-12 col-md-6">
            <button class="btn btn-succes">Save</button>
          </div>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="Edit User"
  [(visible)]="editvisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-3">
      <div class="themeinput">
        <label>User ID</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-3">
      <div class="themeinput">
        <label>User Title</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mt-3">
      <div class="themeinput">
        <label>User Author</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
            <button class="btn btn-succes" (click)="editvisible=false">Close</button>
          </div>
          <div class="col-12 col-md-6">
            <button class="btn btn-succes">Update</button>
          </div>
      </div>
    </div>
  </div>
</p-dialog>
<p-dialog
  header="Delete User"
  [(visible)]="deletevisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row">
    <div class="col-12 col-md-6">
      <button class="btn btn-succes" (click)="deletevisible=false">Close</button>
    </div>
    <div class="col-12 col-md-6">
      <button class="btn btn-succes">Delete</button>
    </div>
  </div>
</p-dialog>