<div class="main-container">
  <p-table
    class="ui-table-wrapper"
    [value]="data"
    dataKey="empcode"
    editMode="row"
    dataKey="book_id"
    #dt1
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['bookName', 'author', 'bookCountAvailable']"
  >
    <ng-template pTemplate="caption">
      <div class="ptableheader">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="search"
              (input)="dt1.filterGlobal(search($event.target), 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
        <button class="btn btn-primary" (click)="AddDialog()">Create</button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 40px">#</th>
        <th style="min-width: 100px">Book Name</th>
        <th style="width: 220px">Author</th>
        <th style="width: 220px">Count Available</th>
        <th
          style="
            width: 120px;
            text-align: center;
            position: sticky;
            right: 0;
            z-index: 999999;
          "
        >
          Actions
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-ri="rowIndex">
      <tr>
        <td>{{ ri + 1 }}</td>
        <td>{{ item.bookName }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.bookCountAvailable }}</td>
        <td>
          <div class="btn_action">
            <i class="pi pi-pencil" (click)="EditDialog(item)"></i>
            <i (click)="deletebook(item._id)" class="pi pi-trash"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Create Book"
  [(visible)]="addvisible"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form (ngSubmit)="addBook()">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="themeinput">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="book.bookName"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="themeinput">
          <label for="author">Author:</label>
          <input
            type="text"
            id="author"
            name="author"
            [(ngModel)]="book.author"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="themeinput">
          <label for="countAvailable">Count Available:</label>
          <input
            type="number"
            id="countAvailable"
            name="countAvailable"
            [(ngModel)]="book.bookCountAvailable"
            class="form-control"
            max="1000"
            min="0"
            required
          />
        </div>
      </div>
      <button
        class="btn btn-primary"
        style="float: right; margin-top: 15px"
        type="submit"
      >
        Add Book
      </button>
    </div>
  </form>
</p-dialog>
<p-dialog
  header="Edit Book"
  [(visible)]="editvisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form (ngSubmit)="editBook()">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="themeinput">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="EditbookData.bookName"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="themeinput">
          <label for="author">Author:</label>
          <input
            type="text"
            id="author"
            name="author"
            [(ngModel)]="EditbookData.author"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="themeinput">
          <label for="countAvailable">Count Available:</label>
          <input
            type="number"
            id="countAvailable"
            name="countAvailable"
            [(ngModel)]="EditbookData.bookCountAvailable"
            class="form-control"
            max="1000"
            min="0"
            required
          />
        </div>
      </div>
      <button
        class="btn btn-primary"
        style="float: right; margin-top: 15px"
        type="submit"
      >
        Add Book
      </button>
    </div>
  </form>
</p-dialog>
