<div class="container" style="padding: 35px;">
    <form (ngSubmit)="onUpdateUser()">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group themeinput">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="userData.userFullName"
              class="form-control" required>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group themeinput">
            <label for="role">Role:</label>
            <select id="role" name="role" [disabled]="userData.role=='admin'" [(ngModel)]="userData.role" class="form-control" required>
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group themeinput">
            <label for="dob">DOB:</label>
            <input type="date" id="dob" name="dob" [(ngModel)]="userData.dob" class="form-control" required>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group themeinput">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender"  [(ngModel)]="userData.gender" class="form-control" required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group themeinput">
            <label for="mobileNumber">Mobile:</label>
            <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="userData.mobileNumber"
              class="form-control" required>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group themeinput">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"  [(ngModel)]="userData.email" class="form-control" required>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group themeinput">
            <label for="address">Address:</label>
            <textarea id="address" name="address" [(ngModel)]="userData.address"
              class="form-control" required cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 col-md-6">
        </div>
        <div class="col-6 col-md-6">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
  