<div class="main-container">
    <p-table
      class="ui-table-wrapper"
      [value]="data"
      dataKey="empcode"
      editMode="row"
      dataKey="book_id"
      #dt1
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 20]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['bookName', 'author', 'bookCountAvailable']"
    >
      <ng-template pTemplate="caption">
        <div class="ptableheader">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="search"
                (input)="dt1.filterGlobal(search($event.target), 'contains')"
                placeholder="Search keyword"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 40px">#</th>
          <th style="min-width: 100px">Book Name</th>
          <th style="width: 220px">Author</th>
          <th style="width: 220px">Count Available</th>
          <th
            style="
              width: 120px;
              text-align: center;
              position: sticky;
              right: 0;
              z-index: 999999;
            "
          >
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-ri="rowIndex">
        <tr>
          <td>{{ ri + 1 }}</td>
          <td>{{ item.bookName }}</td>
          <td>{{ item.author }}</td>
          <td>{{ item.bookCountAvailable }}</td>
          <td>
            <div class="btn_action">
                <div *ngIf="!borrowbooklist.includes(item._id)" class="btn btn-primary" (click)="borrowbook(item)">Borrow</div>
                <div *ngIf="borrowbooklist.includes(item._id)" class="btn btn-warning">Already Borrowed</div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  